button {
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu-lateral {
  background-color: #313131;

  padding: 20px;
  gap: 40px;

  position: fixed;
  top: 0;
  bottom: 0;

  z-index: 1;
}

.menu-lateral__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  cursor: pointer;
}

.span--branco {
  color: #FFFFFF;
  margin-left: 20px;
}

.span--cinza {
  color: #888888;
  margin-left: 20px;
}

.main {
  flex-grow: 1;

  text-align: center;

  margin-top: 150px;
  margin-bottom: 40px;
}

.main__title {
  font-size: 36px;
  line-height: 42px;

  margin-bottom: 50px;
}

.galeria {
  gap: 30px;
}

.item {
  position: relative;
}

.item__img {
  margin-bottom: 20px;
  cursor: pointer;
}

.item__like {
  position: absolute;
  top: 18px;
  right: 18px;
}

.item__letter {
  font-size: 20px;
  line-height: 23px;
}

.item__letter--cinza {
  color: #5C5C5C;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.modal__fechar {
  position: absolute;
  top: 90px;
  right: 45px;

  cursor: pointer;
}

.modal__imagens {
  position: relative;
}

.modal__like {
  position: absolute;
  top: 20px;
  right: 120px;
}

.modal__proximo, .modal__voltar {
  height: 70px;
  cursor: pointer;
}

.modal__imagem {
  width: 555px;
  margin: 0px 100px 0px 100px;
}